{% extends 'base/edit.html' %}
{% load widget_tweaks %}

{% block form_edit %}

<form method="post">
  {% csrf_token %}
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Name</span>
    </div>
    {% render_field form.name class+="form-control" %}
    <div class="input-group-prepend">
      <span class="input-group-text">Choice a teacher</span>
    </div>
    {% render_field form.add_teacher %}
  </div>

  <button class="btn btn-primary">Send</button>
  <a href="{% url 'students_list' %}" class="btn btn-primary" role="button">
    Back
  </a>
</form>

{% endblock %}