<!DOCTYPE html>
<meta charset="UTF-8">
<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
{% load static %}
<body>
	<h1>List Teachers</h1>
	<div class="row justify-content-center">
	{% for teacher in teachers_array %}
		<div class="col-3">
		  <input type="text" align="center" class="form-control form-control-sm font-size" value="{{teacher.name}}" readonly>
		</div>
	{% endfor %}
	</div>

</body>

</html>
