{% extends 'base/add.html' %}
{% load widget_tweaks %}

{% block form_add %}

<form method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
        </div>
        {% render_field form.name class+="form-control" %}
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Choice a Student</span>
        </div>
        {% render_field form.add_student %}
    </div>

    <button class="btn btn-primary">Send</button>
    <a href="{% url 'teachers_list' %}" class="btn btn-primary" role="button">
      Back
    </a>
</form>

{% endblock %}